<!--FILE: about.html-->
<!--PROJECT: Date Night-->
<!--PROGRAMMER: Dario Simpson-->
<!--FIRST VERSION: 15-3-2024-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Date Night - About</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <script src="../static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Date Night</a></li>
            <li><a href="/config">Configuration</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>About Date Night</h1>
        <p>Welcome to Movie Night! This is a simple web application to manage your movie and TV show watchlist. You can add, remove, and track the status of your movies and shows.</p>
        <p>Enjoy your movie nights!</p>
    </div>
</body>
</html>
